*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
C:/Users/olive/Projects/Uni/Project_Edge_AI/app/Myapp/OpenCVLibrary/
venv/
datasets/